@charset "utf-8";

@font-face {
    font-family: ;
    src: url(../../common/fonts/Tenada.woff) format('woff'), 
    url(../../common/fonts/Tenada.woff2) format('woff2');
    font-size: normal;
    font-weight: 400;
    font-display: swap;
}

/* pretandard */
@font-face {
    font-family: 'Pretendard';
    src: url(../../common/fonts/PretendardVariable.woff2) format(woff2);
    font-style: normal;
    font-display: swap;
    font-weight: 45 920;
}