@charset "utf-8";
/* 기본(모바일) */
body{ margin: 0; text-align: center; font-size: 1.5em;}
h1{background-color: #00af91; color: #fff; margin: 0; position: fixed; top: 0; width: 100%; padding: 20px;}
h1 strong{ display: block;}
h2 { background-color: #fdb827; margin-top: 168px;}
.container{ width: 80%; margin: 0 auto; }
.container .box{ width: 100%; height: 20vh; font-weight: bold; transition: 0.5s;}
.container .box1 { background-color: #f1f1f1;}
.container .box2 { background-color: #fdfcb5;}
.container .box3 { background-color: #707efc; color: #fff;}

/* 태블릿 */
@media (min-width:768px) {
    h1 strong{ display: inline;}
    h2 { background-color: #ccfdab; margin-top: 100px;}
    .container{width: 70%;}
}

/* pc */
@media (min-width:1280px){
    h1{ padding: 30px;}
    h2{ display: none;}
    .container{ width: 70%; margin-top: 150px; display: flex;}
    /* .container .box { flex-grow: 1;} */
    .container .box{ width: 33.3333%;}
 }