@charset "utf-8";

nav .mobile_btn {
    display: none;
}
nav .gnb {
    /* flex-flow: row column; */
    flex-direction: row;
    justify-content: flex-start;
    border-bottom: 1px solid #fff;
    box-shadow: 0 3px rgba(255, 255, 255, 0.8); /* 마지막 보더바텀 없애는것과 같은 효과*/
}

nav .gnb li {
    width: 50%;
}
nav .gnb li:nth-child(odd) a{ 
    border-right: 1px solid #fff; 
}  
nav .gnb li:last-child a{
    border-bottom: none;
}