@charset "utf-8";

body { 
    /* 자식에게 배경색이 상속된 것처럼 보이나 상속된 것 아님. 자식 요소의 배경색이 없기 때문에 비춰보이는 것임 */
    background-color: tomato; 
    background-color: transparent; /* 색상의 기본값(투명)*/

    color: #555; /* color는 상속됨. inherit */
    
    /* 
        서체 주의사항
        1. 정확한 서체명 작성(띄어쓰기, 인용부호, 대소문자 등)
        2. 상대방의 컴퓨터에 서체가 없는 경우를 대비해 3~4개 서체를 추가 작성(fallback fonts)
        3. 바탕체 종류로 끝나는 경우 제일 마지막은 serif로 작성
        4. 돋움(고딕)체로 끝나는 경우 제일 마지막은 sans-serif로 작성
    */

    /* 서체(글꼴) 종류. 상속됨 */
    font-family: '나눔고딕','맑은 고딕','돋움', sans-serif;

    /* 서체(글꼴) 크기. 상속됨 */
    font-size: 16px; /* 웹브라우저 기본 서체 크기 */
} 

h1 { /* h1 요소의 기본 특징은 기본 서체 크기의 2배와 bold 처리된 스타일을 가짐. */
    font-size: 40px;
    font-family : '휴먼매직체', '바탕체', serif;
    /* 서체 스타일. 기울기 italic, 일반 normal 상속됨 */
    font-style: italic;
}

#txt1 > strong { /* 자식 선택자 : 기준 선택자의 직계 자식으로 존재하는 선택자. txt1에 속하는 strong 에만 값을 적용하겠다. */
    font-family: '휴먼옛체', '바탕체', 'serif';
    font-style: italic;
    color: blueviolet;
    /* 서체 굵기. nomal, bold, 100~900값 */
    font-weight: normal;

    /* 밑줄 및 취소선 */
    text-decoration: underline; /* 밑줄 */
    text-decoration: overline; /* 윗줄 */
    text-decoration:line-through; /* 취소선 */
    text-decoration: none; /* 선 없음 */
}

#txt1 > em {
    background-color: pink;
    font-size: 25px;
    font-style: normal; /* em체 기울기 싫으면 폰트스타일 노말로 */

    text-decoration-line: underline ; /* 선의 위치 */
    text-decoration-style: dashed ; /* 선의 종류 solid, dashed(작은선), dotted(점선), double */
    text-decoration-color: mediumseagreen; /* 선의 색상 */
    text-underline-offset: 10px; /* 선과 글자의 거리. 레이아웃에 영향을 주지 않음 */
    text-underline-position: under; /* 선의 위치 기준 */
}

#txt2 {
    /* 문단 및 인라인 요소 정렬 */
    text-align: right;
    text-align: left;
    text-align: center;
    text-align: justify; /* 양 끝 기준 정렬. 문단의 양 끝을 일렬로 맞추고 맨 마지막 줄만 왼쪽으로 정렬. */

    /* 들여쓰기 내쓰기 */
    text-indent: 100px;
    text-indent: -100px;
    
    /* 행간 조절. 상속됨. 보통 body에서 많이 씀 */
    line-height: 30px;
    line-height: 1.3em;
    line-height: 1.7; /* 단위값 없이 입력하면 행간은 폰트크기의 배수값으로 적용됨 보통 1.3~1.5 */
}

#txt2 > mark {
    background-color: transparent; /* mark 강조색 없애고 싶을 때*/
    color: #555; /* mark는 기본값이 검정글자에 노랑배경이기 때문에 상속되지 않음. */
}

#txt2 > span {
    background-color: lightskyblue;
    /* 자간 */
    letter-spacing: 10px;
}

#txt3 > strong {
    /* 어간. 단어 사이의 간격 */
    word-spacing: 50px;
}

#txt3 > span {
    /* 서체 그림자 */
    text-shadow: 10px 10px 10px #000; /* 기본 4자리. x축 y축 번짐 색상 */
    /* 단어의 대소문자 제어 */
    text-transform: lowercase; /* 전부 소문자 */
    text-transform: capitalize; /* 단어의 첫글자만 대문자 */
    text-transform: uppercase; /* 전부 대문자*/
}

#txt3 > a { /* 링크 바탕색, 글자색 바꾸고 밑줄 없애기 */
    background-color: tomato;
    color: #555;
    text-decoration: none;
}