@charset "utf-8";

body {
  height: 100vh;
}

.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url(./images/bg.jpg) no-repeat 50% / cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.wrapper::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background-image: linear-gradient(transparent, #fff);
}
.wrapper h1 {
  font-size: 8em;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 10px #f8f988, 0 0 10px #fcf0478e;
  position: relative;
  transform: translateY(-100%);
}
.wrapper .man {
  position: absolute;
  bottom: 0;
}
.wrapper .mauntian {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section {
  width: 70vw;
  margin: 100px auto;
  padding: 20px;
  font-size: 1.2em;
  line-height: 1.6;
}
section h2 {
  background-color: #10a19d;
  color: #fff;
  padding: 10px;
  margin-bottom: 20px;
}
section p {
  margin: 20px 0;
}
section p:last-child {
  padding-bottom: 20vh;
}
