@charset "utf-8";
/* 
@import 다른 문서나 외부 문서를 가져올 때 사용.
@import url('경로');
@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');
@improt url('./fonts/web.css');


웹폰트 : 사용자의 컴퓨터에 설치되지 않은 글골을 서버에 올려 놓은 후 해당 사이트에 접속하는 사용자의 컴퓨터에 그 폰트가 다룬로드 되어 보여지게 함.
 
@font-face {
    font-family: '사용자 지정 이름';
    src: url('로컬 서체 이름으로 내가 설정한 이름 아님'), 
    로컬 선언을 하는 경우 사용자의 시스템에 서체가 설치되어 있으면 리소스를 요청하지 않음. url('경로') format('파일포맷');
    
    font-display: swap;
    로딩 상태에 따른 동작 설정
        auto; 브라우저 기본값
        block; FOIT 방식. 웹폰트가 로딩되지 않으면 텍스트를 렌더링 하지 않음.
        로딩 완료 후 글자 보임
        swap; FOUT 방식. 로딩되는 동안 기본 서체로 보이고 완료되면 웹폰트 적용.
        웹폰트 로딩 여부와 관계없이 항상 글자 보임
}
 */
 /* pretendard */
@font-face {
    font-family:'Pretendard'; /*대부분 원본 이름 그대로 작성*/
    src: local('Pretendard Variable'), /*로컬에 설치되어 있는 서체 이름*/
    url('./fonts/PretendardVariable.woff2') format('woff2-variations');
    font-weight: 45 920;
    font-size: normal;
    font-display: swap;
}

 /* SpoqaHanSansNeo */
@font-face {
    font-family: 'SpoqaHanSansNeo'; /*SpoqaHanSansNeo-Bold 라고 작성하지 않음. 이름은 같게! 폰트웨이트 값으로만 주기*/
    font-style: normal;
    font-display: swap;
    font-weight: 700; /*보통 bold체는 700굵기*/
    src: url('./fonts/SpoqaHanSansNeo-Bold.woff2') format('woff2'),
        url('./fonts/SpoqaHanSansNeo-Bold.woff') format('woff'); /*안전한 기술일 수록 뒤쪽에 작성해주기*/
}
@font-face {
    font-family: 'SpoqaHanSansNeo';
    font-style: normal;
    font-display: swap;
    font-weight: 500; /*보통 bold체는 700굵기*/
    src: url('./fonts/SpoqaHanSansNeo-Medium.woff2') format('woff2'),
        url('./fonts/SpoqaHanSansNeo-Medium.woff') format('woff'); /*안전한 기술일 수록 뒤쪽에 작성해주기*/
}
@font-face {
    font-family: 'SpoqaHanSansNeo';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url('./fonts/SpoqaHanSansNeo-Regular.woff2') format('woff2'),
        url('./fonts/SpoqaHanSansNeo-Regular.woff') format('woff'); /*안전한 기술일 수록 뒤쪽에 작성해주기*/
}
@font-face {
    font-family: 'SpoqaHanSansNeo';
    font-style: normal;
    font-display: swap;
    font-weight: 300;
    src: url('./fonts/SpoqaHanSansNeo-Light.woff2') format('woff2'),
        url('./fonts/SpoqaHanSansNeo-Light.woff') format('woff'); /*안전한 기술일 수록 뒤쪽에 작성해주기*/
}
@font-face {
    font-family: 'SpoqaHanSansNeo';
    font-style: normal;
    font-display: swap;
    font-weight: 100;
    src: url('./fonts/SpoqaHanSansNeo-Thin.woff2') format('woff2'),
        url('./fonts/SpoqaHanSansNeo-Thin.woff') format('woff'); /*안전한 기술일 수록 뒤쪽에 작성해주기*/
}

