@charset "utf-8";

html{
    font-family: -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", "Apple SD Gothic Neo", 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center; 
}

nav .gnb{
    flex-wrap: nowrap;
    justify-content: center;
}
nav .gnb li{
    max-width: 200px;
}
    /* 
    width:max(10%, 200px);  브라우저 기준 10%의 값이 200보다 크면 10%값 적용. 200px이 더 크면 200 적용
    width:mix(10%, 200px);  브라우저 기준 10%의 값이 200보다 크면 200 적용. 200px이 더 크면 10%값 적용
     */
nav a{
    border-bottom: none;
    text-indent: 0;
    justify-content: center;
    border-right: 1px solid #fff;
}
nav .gnb li:nth-child(1) {
    border-left: 1px solid #fff;
}
nav .gnb li:hover a{
    background-color: lightskyblue; color: #333;
}