@charset "utf-8";

h1{color: blue;
color: aqua; /* 같은 특성이 적용된 경우 아래쪽에 작성된 값이 적용*/}
/* 1.같은 이름과 종류의 선택자인 경우 가장 아래쪽에 작성된 값이 우선 순위를 가짐 */
h1{color: tomato;}

/* 2.같은 선택자가 아닌 다른 종류 선택자인 경우 */

#box1 { /* 아이디 선택자(5) */
    background-color: lightskyblue;
}

section { /* 타입 선택자(1)*/
    background-color: #d2d2d2;}

.bg2 { background-color: #937dc2 !important;
/* !important 기본 우선 순위가 무시되며 무조건 적용. 꼭 필요한 경우에만 주의해서 작성*/ } 

.box { /* 클래스 선택자(3)*/
    background-color: lightpink;}

.bg1 { /* 둘다 같은 요소를 가리키고 있고 같은 클래스 선택자이나 더 아래쪽에 작성되었기 때문에 적용됨. .box 위로 올렸으면 적용되지 않음. */
    background-color: orangered;
}
