@charset "utf-8";

/* pc */
@media (min-width:1280px){
    h1{ padding: 30px;}
    h2{ display: none;}
    .container{ width: 70%; margin-top: 150px; display: flex;}
    /* .container .box { flex-grow: 1;} */
    .container .box{ width: 33.3333%;}
 }